h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem; }

html, body {
  height: 100%; }

body {
  display: grid;
  grid-template-rows: .5fr 1fr 2fr .5fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "gd-header" "player-container opponent-container enemy-container" "instruction-container"  "gd-footer";
  background-image: url("../images/death-star-hangar.jpg");
  background-position: center;
  background-repeat: no-repeat; }

header {
  grid-area: gd-header;
  display: flex;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: center;
  align-items: center;
  background: rgba(197, 197, 197, 0.5);
  font-family: "Times New Roman", Times, serif; }

footer {
  grid-area: gd-footer;
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: center;
  align-items: center;
  color: #c5c5c5; }

#player-container {
  grid-area: player-container;
  display: none;
  justify-content: center;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: rgba(197, 197, 197, 0.9);
  flex-direction: column;
  align-items: center; }
  #player-container #player-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 1rem 1rem 1rem; }
  #player-container #player-thumbnail img {
    padding: 2.5rem 0; }

#enemy-container {
  grid-area: enemy-container;
  display: none;
  justify-content: center;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: rgba(197, 197, 197, 0.9);
  flex-direction: column;
  align-items: center; }
  #enemy-container #enemy-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem 1rem 1rem; }
  #enemy-container #enemy-thumbnail img {
    padding: 2.5rem 0; }

#opponent-container {
  grid-area: opponent-container;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border-radius: 25px;
  background-color: rgba(197, 197, 197, 0.9); }
  #opponent-container #opponents {
    display: flex;
    justify-content: center; }
  #opponent-container #opponent-thumbnails {
    display: flex;
    align-items: center;
    justify-content: center; }
  #opponent-container #opponent-thumbnails img {
    padding: 1rem 0;
    text-align: center; }
  #opponent-container #opponent-thumbnails h3 {
    text-align: center; }
  #opponent-container #opponent-thumbnails img:hover {
    cursor: pointer; }

#instruction-container {
  align-self: center;
  text-align: center;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem; }

#attack-btn {
  display: none;
  align-self: center;
  font-size: 3rem;
  padding: 1rem;
  margin: 1rem;
  outline: 0;
  border-radius: 30px;
  background-color: silver; }

#attack-btn:hover {
  cursor: pointer;
  background-color: rgba(199, 18, 18, 0.685); }

.stats h3 {
  display: inline-block; }
